//those are the "global" styles, which are in the end applied to all the pages
#menu{
    color: white;
    text-align: right;
    background-color: grey;
}


button{
    margin: 0.5%;
    width: 8%;
}

