<app-menu-bar>

</app-menu-bar>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">




  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> age </th>
    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="todos">
    <th mat-header-cell *matHeaderCellDef></th>
    <button tpye="button" mat-raised-button *matCellDef="let element" (click)="editTodos(element)"
      #itemButton>View Todos</button>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editUser(row)" [routerLink]="['/edit-user']" [queryParams]="{ row: row }"></tr>
</table>
